extends layout

block content

    div(class='row')
        div(class='col-12 col-md-4 mt-4')
            div(id='grid' style='width: 100%; height: 730px;')


        div(class='col-12 col-md-8 mt-4')
            div(id='form')
                div(class='w2ui-page page-0')
                    div(class='w2ui-field w2ui-span3')
                        label 블로거
                        div
                            input(name='name1')
                            
                    div(class='w2ui-field w2ui-span3')
                        label 이미지
                        div
                            input(name='thumb')
                            
                    div(class='w2ui-field w2ui-span3')
                        label 블로거url
                        div
                            input(name='url')

                div(class='w2ui-buttons')
                    button(class='w2ui-btn' name='reset') 리셋
                    button(class='w2ui-btn w2ui-btn-blue' name='save' id='save') 입력


    //- 들여쓰기 중요함
    script.
        var table = 'BLOGER_tbl';
        var config = {
            grid: {
                url: {
                    get: '/crud/list?table=' + table,
                    remove: '/crud/remove?table=' + table,                    
                },
                recid: 'idx',
                limit: 20,
                recordHeight: 30,
                autoLoad: false,
                name: 'grid',
                show: {
                    selectColumn: true,
                    footer: true,
                    toolbar: true,
                    toolbarDelete: true,
                },
                sortData: [{ field: 'idx', direction: 'DESC' }],
                multiSelect: true,
                multiSearch: true,
                onError:function(e){
                    console.log(e.xhr.responseText);
                },
                onClick: function(event) {
                    if (event.column == null) {
                        return;
                    }

                    var grid = this;
                    var form = w2ui.form;
                    event.onComplete = function () {
                        var sel = grid.getSelection();
                        if (sel.length == 1) {
                            form.recid  = sel[0];
                            form.clear();
                            form.record = $.extend(true, {}, grid.get(sel[0]));
                            console.log(form.record);
                            form.refresh();
                            $("#save").text("수정");
                        } else {
                            form.clear();
                            $("#save").text("입력");
                        }
                    }
                },
                searches: [
                    { field: 'title', caption: '제목', type: 'text' },			//세팅 해줘야함
                    { field: 'name1', caption: '작성자', type: 'text' },			//세팅 해줘야함
                ],
                columns: [
                    { field: 'idx', caption: '번호', size: '50px', sortable: true, resizable: true, attr: 'align=center' },	//세팅 해줘야함
                    { field: 'thumb', caption: '썸네일', size: '50px', sortable: true, resizable: true, attr: 'align=center',	//세팅 해줘야함
                        render: function(record) {
                            if (record.thumb != '') {
                                return '<img src="' + record.thumb + '" style="width: 50px; height: 30px; margin-top: -3px; margin-left: -3px;" />';
                            }
                        }
                    },
                    { field: 'name1', caption: '블로거', size: '100%', min: 250, sortable: true, resizable: true, attr: 'align=left' },	//세팅 해줘야함
                    { field: 'created', caption: '생성일', size: '80px', resizable: true, sortable: true, attr: 'align=center',
                        render: function(rec) {
                            return util_convert_to_millis(rec.created);
                        }
                    },
                    { field: 'modified', caption: '수정일', size: '80px', resizable: true, sortable: true, attr: 'align=center',
                        render: function(rec) {
                            return util_convert_to_millis(rec.modified);
                        }
                    },
                ],
            },
            form: {
                name: 'form',
                fields: [
                    { field: 'name1', type: 'text', required: true },	//세팅 해줘야함
                    { field: 'thumb', type: 'text', required: true },	//세팅 해줘야함
                    { field: 'url', type: 'text', required: true },	//세팅 해줘야함
                ],
                actions: {
                    reset: function () {
                        this.clear();
                        $("#save").text("입력");
                    },
                    save: function () {
                        var errors = this.validate();
                        if (errors.length > 0) {
                            return;
                        }

                        //- 세팅해줘야함.
                        this.record.table = table;
                        //
                        
                        var formData = new FormData();
                        var self = this;
                        for (var key in this.record) {
                            formData.append(key, self.record[key]);
                        }
                        
                        axios.post('/crud/write', formData).then(function(res) {
                            console.dir(res.data);
                            $("#save").text("입력");
                            w2ui.form.clear();
                            
                            if (res.data.code == 1) {                                
                                setTimeout(function(){
                                    w2ui.grid.reload();
                                }, 500);
                            } else if (res.data.code == 2) {
                                setTimeout(function(){
                                    w2ui.grid.set(res.data.record.idx, res.data.record, false);
                                    w2ui.grid.selectNone();    
                                }, 500);
                            }
                        });
                    }
                },
            },
            onError: function(e) {
                console.log(e.xhr.responseText);
            },
        };
        $(function () {
            $('#grid').w2grid(config.grid);
            $('#form').w2form(config.form);
        });
