html {
    min-width: 1400px;
    overflow-x: auto;
}

.button_x {
    border: 0px;
    background: transparent;
    color: #555;
    width: 20px;
}

a {
    text-decoration: none;
}


.menu2 {
    cursor: pointer;
}
.menu2:hover {
    background: #fff;
}
