<form name="frm2" method="post" action="/crud/write?table=CATEGORYS_tbl" >
    <input type="hidden" name="idx" value="<%=row.idx%>"/>
    <input type="hidden" name="gbn" value="<%=row.gbn%>"/>
    <input type="hidden" name="return_url" value="<%=return_url%>"/>

    <table class="table table-borderless table-sm table-form">
        <tr>
            <th width="100">이름</th>
            <td><input name='name1' class='form-control' required value="<%=row.name1%>"/></td>
        </tr>

        <tr>
            <th>정렬순서</th>
            <td><input name='sort1' class='form-control' value="<%=row.sort1%>"/></td>
        </tr>
    </table>
    <input type="submit" id="submit" style="display: none;"/>
</form>